/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background image */
.header-background-image {
  background-image: url('https://cdn.pixabay.com/index/2024/09/19/05-14-26-334_1920x550.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 440px; 
  z-index: -1; 
}
#image-type-selector{
  position: absolute;
  right: 561px;
  top: 118px;
  padding: 5px;
  border: 1px solid #00000029;
  cursor: pointer;

}

/* Navigation styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
}

nav h1 {
  color: white;
  font-size: 35px;
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#navbar-section {
  display: flex;
  gap: 25px;
  list-style-type: none;
}

.nav-item button {
  background-color: rgba(255, 166, 0, 0); /* Soft red */
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.nav-item button:hover {
  background-color: #50492c; /* Darker red */
  transform: translateY(-2px);
}

/* .nav-item button:active {
  background-color: #c74444; /* Darkest red  */

/* Main content styles */
.main-content-wrapper {
  padding: 20px;
  margin-top: 60px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.main-title {
  color: white;
  font-size: 32px;
  margin-bottom: 10px;
  font-family: sans-serif;
}

.main-subtitle {
  font-size: 15px;
  color: white;
  margin-bottom: 20px;
  font-weight: 500;
}

/* Input styling */
.search-input {
  padding: 15px;
  width: 70%;
  max-width: 827px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 25px;
  /* transition: border-color 0.3s; */
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
}

.search-input:focus {
  border-color: #4a90e2;
  outline: none;
}

.image-type-select {
  margin-left: 10px;
  padding: 10px;
  border-radius: 20px;
  border: none;
}

/* Navigation buttons */
.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 180px;
  
}

.btn-style {
  background-color: #f7f7f7; /* Light blue */
  color: rgb(143, 137, 137);
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.btn-style:hover {
  background-color: rgba(240, 238, 238, 0.645);
  transform: translateY(-3px);
}

.btn-style:active {
  background-color: #2c44c7; /* Darkest blue */
}
.suggestion-buttons{
  /* display: flex; */
  display: inline-block;
  /* border: 1px solid; */
  position: relative;
  margin-left: 20px;
  width:1883px;
  margin-bottom: 30px;
  
  
}
.btn-style1{
  margin-left: 23px;
  padding: 7px 10px 7px 10px;
  font-size: 14px;
  border-radius: 7px;
  border: 0.2px solid #80808038;
  background-color: white;
  background-color: white;
  /* transition: background-color 0.3s ease-in-out, transform 0.3s, box-shadow 0.3s; */
}
.btn-style1:hover{
  border: 1px solid;
  transform: scale(1.05);
}
#setting{
  /* display:"flex"; */
  display: inline-block;
  position: absolute;
  right: 50px;
  /* justify-content: space-between; */
  /* border: 1px solid; */
  width: 150px;


}
.right{
  margin-left: 12px;
  padding: 10px;
  border-radius: 20px;
  border: none;
}
.right:hover{
  border: 1px solid;
}



/* Image display container */
#image-display-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.result-image {
  width: 330px;
    height: 400px;
    /* border-radius: 10px; */
   
    transition: transform 0.5s;
}

.result-image:hover {
  /* transform: scale(1.1); */
}

/* Signup page */


/* General form styling */
#signupForm {
  background-color: rgba(255, 255, 255, 0.66);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 400px;
  margin: 0px auto;
  font-family: 'Arial', sans-serif;
  position: absolute;
  left: 550px;
  top: 200px;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

/* Form labels */
.formLabel {
  font-size: 16px;
  color: #333;
  font-weight: bold;
}

/* Input fields styling */
.formInput {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  background-color: #f9f9f9;
  margin-top: 8px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.formInput:focus {
  outline: none;
  border-color: #1abc9c;
  background-color: #fff;
}

/* Signup button styling */
.signupBtn {
  width: 100%;
  background-color: #1abc9c;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.signupBtn:hover {
  background-color: #16a085;
}

/* Login page link styling */
.loginLink {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #1abc9c;
}

.loginLink:hover {
  text-decoration: underline;
}
#signupbox{
  background-image: url('https://media.istockphoto.com/id/1822247032/photo/aerial-view-of-serpentine-road-in-swiss-alps-in-autumn.jpg?s=2048x2048&w=is&k=20&c=sSLQsLUwqh_dxJOg9wOZToGTDApdwXyshTr1DYslZWQ=');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100wh;
  position: relative;

}


/* Login page styling */


/* Login form container */
.login-container {
  max-width: 400px;
  margin: 0px auto;
  padding: 60px;
  background-color: #ffffff88;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}
#loginForm{
  /* margin-top: 50px; */
  position: absolute;
  left: 550px;
  top: 180px;
}

/* Form title */
.login-title {
  font-family: 'Arial', sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

/* Form group container */
.form-group {
  margin-bottom: 20px;
  text-align: left;
}

/* Labels */
.form-label {
  font-size: 14px;
  font-weight: 600;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

/* Input fields */
.form-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

/* Input focus effects */
.form-input:focus {
  outline: none;
  border-color: #00a8e1;
  box-shadow: 0 0 5px rgba(0, 168, 225, 0.2);
}

/* Login button */
.login-btn {
  width: 100%;
  padding: 10px;
  background-color: #00a8e1;
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-btn:hover {
  background-color: #007c9a;
}

/* Signup page link */
.signup-link {
  display: inline-block;
  margin-top: 10px;
  color: #00a8e1;
  font-size: 14px;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}
#loginbox{
  /* margin-top: 180px; */
  background-image: url('https://media.istockphoto.com/id/1822247032/photo/aerial-view-of-serpentine-road-in-swiss-alps-in-autumn.jpg?s=2048x2048&w=is&k=20&c=sSLQsLUwqh_dxJOg9wOZToGTDApdwXyshTr1DYslZWQ=');
  background-position: bottom;
  background-size: 1000px 1000px;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100wh;
  position:relative;
}
#navbar-section button{
  font-weight: 600;
    border: 0.5px solid #ffffff2e
}
#setting button{
  position: absolute;
    right: 160px;
    top: 8px;
    height: 17px;
}
#lastDiv{
  /* box-shadow: 0px 1px 9px 1px black; */
  border-radius: 10px;
}
#mainLogin{
  width: 530px;
  height: 636px;
  border:2px solid ;
}
#mainJoin{
  width: 530px;
  height: 636px;
  border:2px solid ;
  text-align: center;
  margin: auto;
  border: 1px solid;
  background-color:rgba(0, 0, 0, 0.332);
  border-radius: 30px;
  margin-top: 150px;
}
#mainJoin h1{
  margin-bottom: 30px;
  margin-top: 20px;
  color: white;
  font-size: 40px;
}
#mainJoin #k{
  border: 1px solid white;
  width: 300px;
  color: white;
  margin-left: 115px;
  margin-bottom: 20px;
  border-radius: 40px;
  padding: 10px;
  /* width: 300px; */
  display: flex;
  gap: 40px;
  justify-content: center;
}
#mainJoin #k #l{
  margin-left:18px ;
  
}
#mainJoin h3{
  color: white;
}
#mainJoin input{
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 300px;
  border-radius: 30px;
  outline: none;
  border: 1px solid;
}
#mainJoin hr{
  width: 300px;
  margin-left: 115px;
  margin-bottom: 20px;
  margin-top: 25px;
}
#submit{
  padding: 8px;
  width: 100px;
  border-radius: 30px;
  margin-top: 10px;
  outline: 1px solid;
  border: none;
}
#backimg{
  background-image: url('https://cdn.pixabay.com/index/2024/09/19/05-14-26-334_1920x550.jpg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  z-index: -1; 
}
#butto{
  /* position: absolute;
    left: 136px;
    padding: 8px 25px;
    margin-top: 347px;
    outline: none;
    /* borber: none; */
    /* border-radius: 20px;
    border: none;
    font-size: 16px;
    background-color: gainsboro; */
    /* font-weight: 600;  */
}